* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "微软雅黑";
  background-color: #f0f0f0;
  min-height: 100%;
}
a,
a:hover {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/*公用样式结束*/
html {
  font-size: 625%;
  /*初始化100px*/
}
